h1,h3,p,a,button{
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.side-nav{
    position: fixed;
    top: 45%;
    right: 20px;
    z-index: 1;
}

.side-nav ul.nav-side-nav{
    text-align: center;
    list-style: none;
    margin: 0;
    padding-left: 0;
}

.side-nav ul.nav-side-nav >li{
    display: block;
    line-height: 1.45em;
    margin: 0;
    padding: 8px 0;
}

.side-nav ul.nav-side-nav >li >a{
    display: block;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background: #c6bef5;
}

.onepage{
    height: 800px;
}

.onepage-bg{
    height: 800px;
    width: 100%;
    position: absolute;
    background-position: center center;
    background-size: cover;
}

#onepagebg{
    background-image: url("images/one.jpeg");
}

.headh1content{
    margin-top: 150px;
    line-height: 75px;
}

.title-text{
    margin-left: 50px;
}

.headfontsize h1{
    font-size: 50pt;
    color: #ffffff;
}
.headfontsize p{
    color: #ffffff;
}

.tpa{
    height: 400px;

}
.twopage{
    /*background-color: rgba(10, 12, 10, 0.08);*/
    width: 100%;
    position: absolute;
}

.twopage-text{
    margin-top: 20px;
    text-align: center;
    margin-bottom: 59px;
}

.twopage .row{
    margin-left: 5px;
    margin-right:5px;
    margin-top:70px;
    position: relative;
}

.twopage-courses{
    float: left;
    padding: 0 2px 2px 0;
    position: relative;
    overflow: hidden;
    margin-top: -50px;
}

.twopage-courses >a{
    width: 100%;
    height: 100%;
    float: left;
    text-align:center;
    position: relative;
}

.classicon h3{
    margin-top: 100px;
    color: #d43f3a;
}

.classicon{
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    color: #fff;
    opacity: 0;
}

.classicon:hover{
    background: black;
    opacity: 0.6;
    transition: opacity 0.5s;
    -webkit-transition: opacity 0.5s;
}


.fivepage-bg{
    height: 700px;
    position: absolute;
    width: 100%;
    background-position: center center;
    background-size: cover;
}

#fivepage{
    background-image: url("images/8.jpg");
}

.footertext{
    line-height: 35px;
    margin-top: 140px;
}

#f4btn{
    margin-left: 22%;
    margin-top: 100px;

}

.foodhome{
    background-color: #ecece6;
    width: 100%;
    height: 900px;
    margin-top: -20px;
    position: absolute;
}

.foodlist{
    width: 75%;
    background-color: rgba(245, 245, 245, 0.15);
    margin-left: 13%;
    margin-top: 50px;

}

.foodl{
    position: relative;
    width: 100%;
    height:auto;
    border: groove;
    background-color: #f6f6f6;
}

.foodtitle{
    text-align: center;
    font-size: 27px;
    color: rgba(11, 8, 12, 0.49);
    margin-top: 16px;
}

.lead{
    font-size: 15px;
    margin-left: 36.5%;
    margin-right: 1%;
    position: absolute;
    margin-top: -145px;
    padding-bottom:30px;
}


 .t1{
     margin-left: 60%;
     margin-top: -270px;
 }

 .t2{
     margin-left: 80%;
     margin-top: -190px;
 }

 .step{
     margin-top: 130px;
 }

.d1{
    background-color: #ecece6;
    width: 100%;
    height: 4200px;
    margin-top: -20px;
    position: absolute;
    margin-bottom: 0px;
}

.d2{
    background-color: #ecece6;
    width: 100%;
    height: 1800px;
    margin-top: -20px;
    position: absolute;
    margin-bottom: 0px;
}

.step2{
    margin-top: 70px;
}

.d3{
    background-color: #ecece6;
    width: 100%;
    height: 2000px;
    margin-top: -20px;
    position: absolute;
    margin-bottom: 0px;
}

.step3{
    margin-top: 215px;
}

.t3{
    margin-left: 82%;
    margin-top: -148px;
}

.snav{
    margin-left: 237px;
    margin-top: -20px;
    position: relative;
}

.lia{
    color: #01090c;
}

.bk{
    width: 80%;
    height: auto;
    margin-left: 10%;
    margin-top: 80px;
}

.bk >p{
    line-height: 35px;

}

.brandh{
    background-image: url("images/brandh副本.jpg");
    height: auto;
    width: 100%;
}

.contactpage{
    background-image: url("images/b3.jpg");
    position:  relative;
    height: 800px;
    width:100%;
    margin-top: 0px;
}

.tit >h1{
    margin-top: 40px;
    text-align: center;
}

.con{
    margin-top: 80px;
    text-align: center;
    font-size:24px;
}

.jobpage{
    background-image: url("images/b5副本.jpg");
    position: relative;
    width: 100%;
    height: 800px;
    margin-top: 0px;
}

.mani{
    width: 78%;
    margin-left: 15%;
    margin-top: 50px;
}

.inst >small{
    color: rgba(11, 12, 11, 0.48);
    font-size: 18px;
}

.blog1{
    width: 70%;
    margin-left: 13%;
}

.blog2{
    width: 80%;
    margin-left: 7.5%;
    margin-top: 50px;
}

.clearfix >p{
    line-height: 30px; margin-top: 24px; font-size: 17px; color: rgba(0, 0, 0, 0.42);
}

.blog3{
    width: 80%;
    margin-left: 8%;
    margin-top: 50px;
}
